.class-list {
	@extend %list-items;
	
	.multi-col {
		.col {
			&.class-info {
				width: 350px;
				font-size: 20px;
				line-height: 20px;
				
				.title {
					color: $orange;
				}
				
				.with {
					font-size: 17px;
					color: $gray;	
				}
				
				.instructor {
					
				}
				
				.location-wrapper {
					margin-top: 5px;
					
					.location-label {
						display: inline-block;
						vertical-align: middle;
						font-size: 20px;
						line-height: 20px;
						
						&:before {
							margin: 0px;		
						}
					}
					
					.location {
						font-size: 15px;
						line-height: 20px;
						font-weight: 300;
						letter-spacing: 0.5px;
						display: inline-block;
						margin-left: 5px;
					}
				}
			}
			
			/*
			&.students {
				padding: 0px 25px;
				
				.students-list {
					margin: 0px;
					padding: 0px;
					font-size: 0px;
					line-height: 0px;
					
					> li {
						display: inline-block;
						
						.thumbnail {
							@include border-radius(100%);
							
							width: 45px;
							height: 45px;
							line-height: 45px;
							background: $lighter-gray;
							color: $dark-gray;
							display: inline-block;
							vertical-align: top;
							margin: 5px;
						}
						
						.name-initials {
							@extend .thumbnail;
							text-align: center;
							font-size: 15px;
							font-weight: 200;
						}
						
						&.more-students {
							
							.show-more {
								@extend .name-initials;
								font-weight: 400;
								color: $dark-gray;
								
								&:hover {
									background: $dark-gray;
									color: #FFF;	
								}
							}
						}
					}
				}
			}*/
			
			&.booked-capacity {
				width: 350px;
				padding-right: 25px;
				
				.label {
					font-size: 18px;
					line-height: 18px;
					margin-bottom: 5px;
					text-align: center;	
				}
				
				.progress-bar-wrapper {
					@include border-radius(25px);
					background: $light-gray;
					width: 100%;
					
					.progress-bar {
						height: 12px;
						@include border-radius(25px);
						background: linear-gradient(to right, $green, $blue);
					}
				}
			}	
			
			
		}
	}
	
	> li {
		&.on-site {
			border-left-color: $gray;
			
			.multi-col {
				.col {
					&.class-info {
						.location-wrapper {
							.location-label {
								color: $dark-gray;	
							}
						}
					}
				}
			}
		}
		
		&.webcam {
			border-left-color: $blue;
			
			.multi-col {
				.col {
					&.class-info {
						.location-wrapper {
							.location-label {
								color: $blue;	
							}
						}
					}
				}
			}
		}
	}
	
}

.upcoming-class-list {
	@extend .class-list;
	
	line-height: 0px;
	font-size: 0px;
	
	> li {
		display: inline-block;
		vertical-align: top;
		width: calc(100% / 3 - 20px);
		margin-right: 25px;
		margin-bottom: 0px;
		padding: 15px;
		border-top: solid 4px $gray;
		border-left: none;
		
		&:last-child {
			margin-right: 0px;	
		}
		
		.multi-col {
			display: block;
			
			.col {
				display: block;
				text-align: center;
				width: 100% !important;
				padding: 15px 0px;
				
		
				&.date-time {
					font-size: 110%;
					line-height: 110%;
				}
				
				&.instructor-thumbnail {
					padding: 5px 0px;
					
				}
				
				&.instructor-thumbnail {
					padding: 5px 0px;
					
					.thumbnail {
						width: 75px;
						height: 75px;
					}
					
					.name-initials {
						line-height: 75px;
						font-size: 25px;
					}
				}
				
				&.class-info {
					.location-label {
						
					}
					
					.location {
						
					}
				}
				
				&.students {
					
				}
				
				&.booked-capacity {
					display: block;
					padding: 15px 25px;
				}
				
				&.edit {
					border: none;
					padding: 15px 0px 0px 0px;
					display: none;
				}
				
			}
			
		}
		
		&.on-site {
			border-top-color: $gray;
		}
		
		&.webcam {
			border-top-color: $blue;
		}
			
	}
}
