.overlay-wrapper {
	.overlay-container {
		.overlay-body {
			
			.multi-col {
				&.datetime {
					background: $lighter-gray;
					margin: -25px -25px 25px -25px;
					padding: 15px 25px;
					width: calc(100% + 50px);
					
					> .col {
						vertical-align: middle;
						
						&.left {
							width: 75px;
							padding-right: 15px;
							
							.date-wrapper {
								text-align: center;
								
								.day {
									color: $dark-gray;
									font-size: 25px;
									margin-bottom: 3px;
								}
								
								.month {
									color: $red;
									font-size: 18px;
									text-transform: uppercase;
									font-weight: 300;
								}
								
							}
						}
						
						&.middle {
							
							.time {
								color: $dark-gray;
								font-size: 20px;	
								
								.at {
									color: $gray;
								}
							}
						}
						
						&.instructor {
							width: 75px;
							
							.thumbnail {
								@include border-radius(100%);
								width: 75px;
								height: 75px;
							}	
						}
						
						&.instructor-info {
							width: 215px;
							padding-left: 10px;
								
							.name {
								color: $darker-gray;
								font-size: 20px;
							}
							
							.phone, .email {
								font-size: 16px;
								color: $dark-gray;
								margin-top: 8px;
								
								&:before {
									margin-right: 10px;	
									color: $gray;
								}
							}
							
							.phone {
									
							}
							
							.email {
								
							}
						}
						
						
						
					}
				}
				
			}
			
			.booked-capacity {
				
				margin: -25px;				
				margin-bottom: 25px;
				
				.label-wrapper {
					text-align: center;
					
					.label {
						font-size: 16px;
						line-height: 16px;
						margin: 5px 25px;	
						font-weight: 300;
						color: $dark-gray;
						
						display: inline-block;
						@include border-radius(25px);
					}
				}
				.progress-bar-wrapper {
					background: $light-gray;
					width: 100%;
					
					.progress-bar {
						@include border-radius(0px, 25px, 0px, 25px);
						height: 10px;
						background: linear-gradient(to right, $green, $blue);
					}
				}
			}	
			
			.book-member {
				
				padding-bottom: 15px;
				
				border-bottom: dashed 2px $light-gray;
				text-align: center;
				margin-bottom: 15px;
				
				.button {
				
				}
			}
			
            .attendees-list {
				@extend %list-items;
				height: 375px;
				overflow-y: auto;
				
				> li {
					padding: 15px;
					margin-bottom: 10px;
					
					.multi-col {
						.col {
							border-left: solid 2px $lighter-gray;
							padding-left: 15px;
							text-align: center;
							font-size: 18px;
							
							&.thumbnail-wrapper {
								width: 50px;
								border-left: none;
								padding-left: 0px;
								
								.thumbnail {
									width: 50px;
									height: 50px;
								}
								
								.name-initials {
									line-height: 50px;
									font-size: 20px;
								}
							}
							
							&.member-info {
								border-left: none;
								padding-left: 10px;
								text-align: left;
								width: auto;
								
								.role {
									font-size: 16px;
									letter-spacing: 0.5px;
									color: $gray;
								}
							}
							
							&.phone-number {
								padding: 0px 10px;
							}
							
							&.email-address {
								padding: 0px 10px;
							}
							
							&.options {
								width: 135px;
								font-size: 0px;
								line-height: 0px;
								
								.check-in, .cancel, .late-cancel {
									border: solid 1px $gray;
									padding: 5px;
									color: #FFF;
									height: 30px;
									width: 30px;
									text-align: center;
									@include border-radius(100%);	
									display: inline-block;
									font-size: 12px;
									line-height: 20px;	
									margin: 0px 3px;
									
									&:hover {
										color: #FFF;	
									}
								}
								
								.check-in {
									color: $green;
									border-color: $green;
										
									&:hover {
										background: $dark-green;
										border-color: $dark-green;	
									}
								}
								
								.cancel {
										color: $yellow;
										border-color: $yellow;	
										
									&:hover {
										background: $dark-yellow;
										border-color: $dark-yellow;	
									}
								}
								
								.late-cancel {
										color: $red;
										border-color: $red;	
										
									&:hover {
										background: $dark-red;
										border-color: $dark-red;	
									}
								}
							}
						}
					}
					
					&.checked-in {
						border-left-color: $green;
						
						.multi-col {
							.col {
								&.options {
									.check-in {
										color: #FFF;
										background: $green;	
									}
								}
							}
						}
					}
					
					&.cancelled {
						border-left-color: $red;
						
						.multi-col {
							.col {
								&.options {
									.late-cancel {
										color: #FFF;
										background: $red;	
									}
								}
							}
						}
					}
					
					/* li END*/
						
				}
			}
            
            
            
		}
	}
}